<div class="container">
  <h1>Add a movie in the list</h1>
  <%= simple_form_for [@list, @bookmark] do |f| %>
    <%= f.association :movie %>
    <%= f.input :comment %>
    <%#= f.input :list_id, as: :hidden, input_html: {value: @list.id} %>
    <%= f.submit %>
  <% end %>
  <p><%= link_to "Back to lists", lists_path %></p>
</div>
